<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fruit Store</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>
    
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Fruits Shop</span>
	</nav>
	<div class="ml-5">
		<div class="mt-4">
			<div class="row">
				<h5>The Bill</h5>
			</div>
		</div>
		
		
	</div>


	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  	<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  	<!-- CDN SWEETALERT (para los msj de alerta) -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	
</body>
</html>


